---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { config, locale } from "../../consts";

import RssFeed from "../../components/common/RssFeed.astro";
import Pagination from "../../components/navigation/Pagination.astro";

const posts = (
  await getCollection("blog", ({ data }) => data.draft !== true)
).sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());

const postsPerPage = config.postsPerPage;
const totalPages = Math.ceil(posts.length / postsPerPage);
const currentPage = 1;
const paginatedPosts = posts.slice(0, postsPerPage);

const title = "Blog";
const description = "A collection of articles on topics I'm interested in.";
---

<Layout title={title} description={description}>
  <section class="animate-fade-down text-center">
    <header>
      <h1>{title} <RssFeed /></h1>
      <p class="text-lg font-semibold">{description}</p>
    </header>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        paginatedPosts.map((post) => (
          <article class="animate-fade-up rounded border p-4 shadow !transition hover:shadow-lg">
            <a href={`${config.base}/blog/${post.id}/`}>
              {post.data.image && (
                <img
                  class="h-48 w-full object-cover"
                  src={`${config.base}${post.data.image.src}`}
                  alt={post.data.image.alt}
                  width="720"
                  height="360"
                />
              )}
              <h3 class="mb-2 text-xl font-bold">{post.data.title}</h3>
              <p class="mb-2 text-sm opacity-70">
                <time datetime={post.data.publishDate.toISOString()}>
                  {post.data.publishDate.toLocaleDateString(
                    locale.date.locale,
                    locale.date.options,
                  )}
                </time>
              </p>
              <p class="mb-2">{post.data.description}</p>
            </a>
          </article>
        ))
      }
    </div>

    <!-- Pagination -->
    <Pagination
      currentPage={currentPage}
      totalPages={totalPages}
      basePath="blog"
    />
  </section>
</Layout>
